<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!-- 配置日志格式 -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 配置Info状态日志 -->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 配置日志级别过滤器 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <!-- 配置文件输出的日志格式 -->
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>

        <!-- 配置滚动策略_按时间进行滚动 -->
        <rollingPolicy  class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 配置文件路径 -->
            <fileNamePattern>/opt/Project/Java_project/sell/log/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- 配置Error状态日志 -->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 配置日志级别过滤器 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!-- 配置文件输出的日志格式 -->
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>

        <!-- 配置滚动策略_按时间进行滚动 -->
        <rollingPolicy  class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 配置文件路径 -->
            <fileNamePattern>/opt/Project/Java_project/sell/log/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <root level="info">

        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>

    </root>

</configuration>